### Task [106](https://github.com/salgo60/ProjectOutdoorGyms/issues/106) "Dataportal väst"


Work in progress need read csv file and check fields....

 se även [Notebook Stockholm](https://github.com/salgo60/ProjectOutdoorGyms/issues/99)

* data portalen Väst om utegym = [3 dataset](https://www.vgregion.se/ov/dataportal-vast/datakatalog/#esc_term=utegym)

* [denna notebook](https://github.com/salgo60/ProjectOutdoorGyms/blob/main/Jupyter/Dataportal%20väst%20outdoor%20gym.ipynb)

* https://github.com/salgo60/ProjectOutdoorGyms

In [1]:
from datetime import datetime
start_time  = datetime.now()
print("Last run: ", start_time)

Last run:  2022-05-30 17:40:36.659637

In [13]:
url1csv="https://catalog.tidaholm.se/store/2/resource/58"
url2json="https://catalog.essunga.se/rowstore/dataset/50392303-6c97-4398-a162-38d61fbf637b/json"
url3jsonSkara="https://catalog.skara.se/rowstore/dataset/e490ebb8-9507-463a-bfec-e82054a20b14/json"

urls = {
    "Tidaholm" : ["csv",url1csv],
    "Essunga"  : ["json",url2json,"results"],
    "Skara"    : ["json",url3jsonSkara,"results"]
}
#Start with JSON
urlsJson = {
    "Essunga"  : ["json",url2json,"results"],
    "Skara"    : ["json",url3jsonSkara,"results"],

}
import urllib3, json
import pandas as pd
http = urllib3.PoolManager()

Utegymdata = pd.DataFrame()

for key,values in urlsJson.items():
    try: 
        url = values[1]
        r = http.request('GET', url)
        print(r.status,"\t",url)
        data = json.loads(r.data)
        resultfield = values[2]
        Utegymdata = pd.concat([Utegymdata,pd.DataFrame(data[resultfield])])
    except Exception as e: print("\n\t",e)

200 	 https://catalog.essunga.se/rowstore/dataset/50392303-6c97-4398-a162-38d61fbf637b/json
200 	 https://catalog.skara.se/rowstore/dataset/e490ebb8-9507-463a-bfec-e82054a20b14/json

In [14]:
Utegymdata

,td_url,country,captains_chair,battling_ropes,city,latitude,sign,description,box,source,...,housenumber,name,elliptical_trainer,slackline,rower,updated,wikidata,horizontal_ladder,air_walker,paralell_bars
0,,SE,TRUE,TRUE,Nossebro,"58,192779",TRUE,Nossebro utegym vid Stallaholmsområdet. Här fi...,FALSE,1445,...,,Nossebro Stallaholmsområdet utegym,FALSE,FALSE,FALSE,2021-10-19,,TRUE,FALSE,FALSE
0,,,,,,,,,,,...,,,,,,,,,,
1,,SE,FALSE,FALSE,Skara,"58,373345",TRUE,Skaras utegym ligger vid Petersburgs friluftso...,TRUE,1495,...,,"Petersburgs friluftsomr†de, utegym",FALSE,FALSE,FALSE,2021-10-04,,FALSE,FALSE,TRUE

In [15]:
#Looks like we miss the ID field

### Status JSON 
* fular och lägger in **ID** i Wikidata [P217]() precis som jag gjorde med Stockholm --> kan enkelt kolla diff
* see [notebook Stockholm](https://github.com/salgo60/ProjectOutdoorGyms/blob/main/Jupyter/Stockholm%20outdoor%20gym.ipynb) med 100 utegym och bra flöde av nya....

In [4]:
Utegymdata.to_csv("Dataportal_väst_gym.csv")

### SPARQL Wikidata
Hämta utegym i WD för kommunerna
* [SPARQL](https://w.wiki/5DYq) Wikidata

In [16]:
# pip install sparqlwrapper
# https://rdflib.github.io/sparqlwrapper/

import sys
from SPARQLWrapper import SPARQLWrapper, JSON

endpoint_url = "https://query.wikidata.org/sparql"
 
# SPARQL 
queryPortalV = """#title:Outdoor gyms "Skara Tidaholm Essunga" in WD
SELECT distinct ?inception ?item ?itemLabel  ?id ?kommunLabel WHERE {
Values ?kommun {wd:Q499421 wd:Q501459 wd:Q503127}
  ?item wdt:P6104 wd:Q107186275.
  OPTIONAL {?item wdt:P571 ?inception}
  SERVICE wikibase:label {
    bd:serviceParam wikibase:language "sv,en,de" . 
  }
  
OPTIONAL{?item wdt:P571 ?date}
OPTIONAL { ?item wdt:P18 ?img}
?item wdt:P131 ?kommun  
OPTIONAL { ?item wdt:P856 ?www. }
OPTIONAL { ?item wdt:P625 ?coord. }
OPTIONAL { ?item wdt:P217 ?id. }
} order by desc(?date) ?id"""


def get_results(endpoint_url, query):
    user_agent = "WDQS-example Python/%s.%s" % (sys.version_info[0], sys.version_info[1])
    # TODO adjust user agent; see https://w.wiki/CX6
    sparql = SPARQLWrapper(endpoint_url, agent=user_agent)
    sparql.setQuery(query)
    sparql.setReturnFormat(JSON)
    return sparql.query().convert()

def get_sparql_dataframe(endpoint_url, query):
    """
    Helper function to convert SPARQL results into a Pandas data frame.
    """
    user_agent = "salgo60/%s.%s" % (sys.version_info[0], sys.version_info[1])
 
    sparql = SPARQLWrapper(endpoint_url, agent=user_agent)
    sparql.setQuery(query)
    sparql.setReturnFormat(JSON)
    result = sparql.query()

    processed_results = json.load(result.response)
    cols = processed_results['head']['vars']

    out = []
    for row in processed_results['results']['bindings']:
        item = []
        for c in cols:
            item.append(row.get(c, {}).get('value'))
        out.append(item)

    return pd.DataFrame(out, columns=cols)

WDtotOutdoorGym = get_sparql_dataframe(endpoint_url, queryPortalV)

WDtotOutdoorGym

,inception,item,itemLabel,id,kommunLabel
0,None,http://www.wikidata.org/entity/Q107463508,"Brogatan, utegym",None,Tidaholms kommun
1,None,http://www.wikidata.org/entity/Q107463515,"Sisustugan, utegym",None,Tidaholms kommun
2,None,http://www.wikidata.org/entity/Q107463520,"Tidavallen, utegym",None,Tidaholms kommun
3,None,http://www.wikidata.org/entity/Q107473822,"Aktiva Stallaholm, utegym",1445_Utegym_00001,Essunga kommun
4,None,http://www.wikidata.org/entity/Q107452197,Petersburg utegym,Skara utegym,Skara kommun

In [17]:
WDtotOutdoorGym.isnull().sum(), WDtotOutdoorGym.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   inception    0 non-null      object
 1   item         5 non-null      object
 2   itemLabel    5 non-null      object
 3   id           2 non-null      object
 4   kommunLabel  5 non-null      object
dtypes: object(5)
memory usage: 328.0+ bytes

(inception      5
 item           0
 itemLabel      0
 id             3
 kommunLabel    0
 dtype: int64,
 None)

In [18]:
WDPortalenNew = WDtotOutdoorGym.rename(columns={'id': 'properties.ID'})

In [20]:
WDPortalenNew

,inception,item,itemLabel,properties.ID,kommunLabel
0,None,http://www.wikidata.org/entity/Q107463508,"Brogatan, utegym",None,Tidaholms kommun
1,None,http://www.wikidata.org/entity/Q107463515,"Sisustugan, utegym",None,Tidaholms kommun
2,None,http://www.wikidata.org/entity/Q107463520,"Tidavallen, utegym",None,Tidaholms kommun
3,None,http://www.wikidata.org/entity/Q107473822,"Aktiva Stallaholm, utegym",1445_Utegym_00001,Essunga kommun
4,None,http://www.wikidata.org/entity/Q107452197,Petersburg utegym,Skara utegym,Skara kommun

In [21]:
Utegymdata

,td_url,country,captains_chair,battling_ropes,city,latitude,sign,description,box,source,...,housenumber,name,elliptical_trainer,slackline,rower,updated,wikidata,horizontal_ladder,air_walker,paralell_bars
0,,SE,TRUE,TRUE,Nossebro,"58,192779",TRUE,Nossebro utegym vid Stallaholmsområdet. Här fi...,FALSE,1445,...,,Nossebro Stallaholmsområdet utegym,FALSE,FALSE,FALSE,2021-10-19,,TRUE,FALSE,FALSE
0,,,,,,,,,,,...,,,,,,,,,,
1,,SE,FALSE,FALSE,Skara,"58,373345",TRUE,Skaras utegym ligger vid Petersburgs friluftso...,TRUE,1495,...,,"Petersburgs friluftsomr†de, utegym",FALSE,FALSE,FALSE,2021-10-04,,FALSE,FALSE,TRUE

In [22]:
OutdoorGym_diff = pd.merge(WDtotOutdoorGym,Utegymdata, how='outer', indicator='Exist')

In [23]:
OutdoorGym_diff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6 entries, 0 to 5
Data columns (total 40 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   inception           0 non-null      object
 1   item                5 non-null      object
 2   itemLabel           5 non-null      object
 3   id                  3 non-null      object
 4   kommunLabel         5 non-null      object
 5   td_url              3 non-null      object
 6   country             3 non-null      object
 7   captains_chair      3 non-null      object
 8   battling_ropes      3 non-null      object
 9   city                3 non-null      object
 10  latitude            3 non-null      object
 11  sign                3 non-null      object
 12  description         3 non-null      object
 13  box                 3 non-null      object
 14  source              3 non-null      object
 15  push-up             3 non-null      object
 16  exercise_bike       3 non-null      object
 17  horizontal_bar      3 non-null      object
 18  sit-up              3 non-null      object
 19  street              3 non-null      object
 20  hurdling            3 non-null      object
 21  email               3 non-null      object
 22  longitude           3 non-null      object
 23  postcode            3 non-null      object
 24  lighting            3 non-null      object
 25  balance_beam        3 non-null      object
 26  log_lifting         3 non-null      object
 27  rings               3 non-null      object
 28  visit_url           3 non-null      object
 29  housenumber         3 non-null      object
 30  name                3 non-null      object
 31  elliptical_trainer  3 non-null      object
 32  slackline           3 non-null      object
 33  rower               3 non-null      object
 34  updated             3 non-null      object
 35  wikidata            3 non-null      object
 36  horizontal_ladder   3 non-null      object
 37  air_walker          3 non-null      object
 38  paralell_bars       3 non-null      object
 39  Exist               6 non-null      category
dtypes: category(1), object(39)
memory usage: 2.0+ KB

In [24]:
OutdoorGym_diff["Exist"].value_counts()

left_only     3
both          2
right_only    1
Name: Exist, dtype: int64

In [25]:
#where Wikidata miss an ID in OutdoorGym_diff
MissingGymsWD = OutdoorGym_diff[OutdoorGym_diff["Exist"] == "right_only"]

### Saknas i wikidata

In [26]:
MissingGymsWD

,inception,item,itemLabel,id,kommunLabel,td_url,country,captains_chair,battling_ropes,city,...,name,elliptical_trainer,slackline,rower,updated,wikidata,horizontal_ladder,air_walker,paralell_bars,Exist
5,NaN,NaN,NaN,,NaN,,,,,,...,,,,,,,,,,right_only

In [27]:
MissingGymsKommun = OutdoorGym_diff[OutdoorGym_diff["Exist"] == "left_only"]
MissingGymsKommun

,inception,item,itemLabel,id,kommunLabel,td_url,country,captains_chair,battling_ropes,city,...,name,elliptical_trainer,slackline,rower,updated,wikidata,horizontal_ladder,air_walker,paralell_bars,Exist
0,None,http://www.wikidata.org/entity/Q107463508,"Brogatan, utegym",None,Tidaholms kommun,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,None,http://www.wikidata.org/entity/Q107463515,"Sisustugan, utegym",None,Tidaholms kommun,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,None,http://www.wikidata.org/entity/Q107463520,"Tidavallen, utegym",None,Tidaholms kommun,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [30]:
# Brukar vara en "dum" tanke att kommunen bara visar sina utegym inte andras som är gratis...
# Med brasklappen att Wikidata kan alla redigera och datat kan vara fel
MissingGymsKommun[["item","itemLabel"]]

                                        item           itemLabel
0  http://www.wikidata.org/entity/Q107463508    Brogatan, utegym
1  http://www.wikidata.org/entity/Q107463515  Sisustugan, utegym
2  http://www.wikidata.org/entity/Q107463520  Tidavallen, utegym

In [29]:
end = datetime.now()
print("Ended: ", end) 
print('Time elapsed (hh:mm:ss.ms) {}'.format(datetime.now() - start_time))

Ended:  2022-05-30 17:56:56.703296
Time elapsed (hh:mm:ss.ms) 0:16:20.045183